server:
  port: 8089
  servlet:
    context-path: /lbl
spring:
  application:
    name: mp

  datasource:
    name: mp
    # 数据源类型
    type: com.alibaba.druid.pool.DruidDataSource
    # 数据源连接信息
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://8.137.103.217:3306/lbl?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&
    username: root
    password: z18224004047
    druid:
      # 初始化连接池大小
      initial-size: 5
      # 连接池最大连接数
      max-active: 20
      # 连接池最小空闲连接数
      min-idle: 5
      # 获取连接时的最大等待时间(毫秒)
      max-wait: 6000
      # 配置检测连接空闲的时间间隔(毫秒)
      time-between-eviction-runs-millis: 600000
      # 连接在池中最小生存时间(毫秒)
      min-evictable-idle-time-millis: 300000
      # 检测连接是否有效的SQL查询语句
      validation-query: SELECT 1
      # 建议配置为true，不影响性能，并且保证安全性。申请连接的时候检测，如果空闲时间大于timeBetweenEvictionRunsMillis，执行validationQuery检测连接是否有效
      test-while-idle: true
      # 申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能
      test-on-borrow: false
      # 归还连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能
      test-on-return: false
      # 是否缓存preparedStatement，也就是PSCache。PSCache对支持游标的数据库性能提升巨大，比如说oracle。在mysql下建议关闭
      pool-prepared-statements: true
      # 要启用PSCache，必须配置大于0，当大于0时，poolPreparedStatements自动触发修改为true。在Druid中，不会存在Oracle下PSCache占用内存过多的问题，可以把这个数值配置大一些，比如说100
      max-pool-prepared-statement-per-connection-size: 20
      # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙，防御sql注入
      filters: stat,  wall, log4j
      # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
      connection-properties: druid.testWhileIdle=true;druid.testOnBorrow=false;druid.testOnReturn=false;druid.poolPreparedStatements=true;druid.maxPoolPreparedStatementPerConnectionSize=20;druid.filters=stat;druid.connectionProperties=druid.maxPoolPreparedStatementPerConnectionSize=20
  mybatis-plus:
    configuration:
      # MyBatis配置
      # 驼峰转下划线
      map-underscore-to-camel-case: true
    global-config:
      # 数据库配置
      # 主键类型
      database-id-type: auto
      update-strategy: not_null
      # 逻辑删除字段
#      logic-delete-field: deleted
#      # 逻辑删除字段值
#      logic-delete-value: 1
#      # 逻辑未删除字段值
#      logic-not-delete-value: 0

  #  data:
#    redis:
#      host: 8.137.103.217
#      port: 6379
#      password: print123
#      timeout: 5000ms
#      lettuce:
#        pool:
#          max-active: 8
#          max-idle: 8
#          min-idle: 0
#          max-wait: 1000ms
  rabbitmq:
    host: 8.137.103.217
    port: 5672
    username: root
    password: print123

    # 设置连接超时时间为1秒
    connection-timeout: 1s
    # 定义模板配置
    template:
      # 启用重试机制
        retry:
          # 开启重试功能
          enabled: true
          # 初始重试间隔时间为1000毫秒
          initial-interval: 1000ms
          # 重试间隔倍乘因子为1，即每次重试间隔时间保持不变
          multiplier: 1
          # 最大重试次数为3次
          max-attempts: 3
    publisher-confirm-type: correlated # 开启publisher confirm机制，并设置confirm类型
    publisher-returns: true # 开启publisher return机制
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23liaZ5kfjIoXDBJmm
            client-secret: c93a39e963bc985e71470eb8de0d90baf2458092
            scope: read:user
            redirect-uri: "{baseUrl}/oauth2/github/callback"
          twd:
            client-id: client_lTmdIuBIkLioHyBc
            client-secret: secret_I8pxwaUeK1E5NsYzIyZPhlRyghQi9ANJ
            scope: read:write
            redirect-uri: "{baseUrl}/oauth2/twd/callback"
            authorization-grant-type: code

        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
          twd:
            authorization-uri: http://10.119.1.225:8082/auth/oauth/authorize
            token-uri: http://10.119.1.225:8082/auth/oauth/token
            user-info-uri: http://10.119.1.225:8082/auth/oauth/userinfo



